/* --------------- Fonts ---------------- */
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Regular.ttf");
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* --------------- Global ---------------- */

* {
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fae3d9;
    --primary-color: #61c0bf;
    --secondary-color: #ffb6b9;
    --help-color: #bbded6;
}

html, body, #app {
    font-family: "B612", sans-serif;
    height: 100%;
    min-height: 100%;
    margin:0;
}

body, #app{
    display: flex;
    flex-direction: column;
}

/* --------------- 3 Main root elements ---------------- */

#header {
    height: 50px;
    background-color:#61c0bf;
    flex: none;
}

#main {
    background-color:#fae3d9;
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#footer {
    height: 100px;
    background-color:#ffb6b9;
    flex: none;
}

/* --------------- Main element elements ---------------- */

#menu {
    background-color:#bbded6;
    height: 100%;
    width: 15%;
}

#content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 20px 25px;
}

/* --------------- Scrollbar hides with fucntinality keep ---------------- */

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}