@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Regular.ttf");
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

* {
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fae3d9;
    --primary-color: #61c0bf;
    --secondary-color: #ffb6b9;
    --help-color: #61c0bf;
}

html, body, #app {
    font-family: "B612", sans-serif;
    height: 100%;
    min-height: 100%;
    margin:0;
}

body, #app{
    display: flex;
    flex-direction: column;
}

#header {
    height: 70px;
    background-color:#61c0bf;
    flex: none;
}

#content {
    background-color:#fae3d9;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    padding-right: 17px;
    width: 100%;
    box-sizing: content-box;
}

#footer {
    height: 100px;
    background-color:#ffb6b9;
    flex: none;
}